@import "tailwindcss";
/*Font*/
@font-face {
  font-family: 'Charm';
  src: url('./assets/fonts/Charm-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Charm';
  src: url('./assets/fonts/Charm-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Register font in Tailwind v4 */
@theme {
  --font-Charm: "Charm", sans-serif;
}
.btn{
  @apply text-white bg-red-500 rounded-xl p-2 cursor-pointer hover:bg-red-700 font-semibold;
}
